API_TOKEN=The API token for the webhook
HUBSPOT_TOKEN=The private app token for hubspot
WEBHOOK_URL=The URL of the publicly accessible webhook (e.g. https://auth0-hubspot-sync-with-events-2.vercel.app/webhook)
CONNECTION_NAME=The connection name for the Connection in Auth0 where you want users to show up
EVENT_STREAM_NAME=Set this to some value that you will remember is for this
USER_PREFIX=testeventsusers
TENANT=Your Auth0 Tenant Domain (e.g. MYTENANT.us.auth0.com)